.fundo {
	background: #DADADA;
	width: 100vw;
	height: 100vh;
}

.post{
	background: white;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 7px;
	margin-bottom: 15px;
	box-shadow:10px 10px 50px grey; 
}

#criar-post{
	padding-top: 1px;
	padding-bottom: 1px;
}

.informacoes-post{
	display: flex;
	height: 25px;
	padding-left: 2.5%;
	margin-top: 10px;
	align-items: center;
}

.informacoes-post img{
	height: 26px;
	width: 26px;
	border-radius: 50%;
}

.informacoes-post h6{
	padding-left: 10px;
	padding-top: 5px;
}

.informacoes-post p{
	padding-left: 5px;	
	padding-top: 17px;
	font-family: inherit;
	font-size: 10px;
	
}

.conteudo{
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 15px;
}

.conteudo p{
	font-family: inherit;
	text-align: justify;
	font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
}

.conteudo img{
	width: 100%;
	border-radius: 5px;
	border: solid 2px white;
}

.caixa-comentarios{
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 20px;
	background-color: rgba(162,103,105,0.35);
	border-radius: 10px;
}

.comentario{
	display: flex;
	padding-top: 5px;
	padding-left: 5px;
}

.comentario p{
	text-align: justify;
	margin-right: 5px;
	font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
}

.comentario img{
	margin-top: 4px;
	margin-right: 5px;
	height: 20px;
}

.informacoes-comentario{
	margin-left: 31px;
	font-family: inherit;
	font-size: 10px;
}

.acoes-comentario{
	margin-top: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	display: flex;
}

.acoes-comentario button{
	background-color: transparent;
	border:0;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
}

.acoes-comentario button:hover{
	cursor: pointer;
	background: #D6D6D6;
	border-radius: 10px;
}

.acoes-comentario button span{
	display: flex;
	align-items: center;
}

.acoes-comentario button img{
	height: 25px;
	margin-right: 10px;
	overflow: hidden;
}

#barra-comentario{
	border: 2px solid rgba(255, 255, 255, 0.13);
}



#Enviar-post{
	margin-top: 5px;
	margin-left: 80%;
	margin-right: 15%;
	background-color: rgba(88,44,77,0.6);
	color: white;
}

#Enviar-post:hover{
	background-color: rgba(88,44,77,1);
}

.nome-perfil{
	text-align: center;
	font-size: 25px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 10px;
}

.conecte-se{
	width: 100%;
}

.cadastro h1{
	margin-left: 5%;
	color: #582C4D;
}

.cadastro h3{
	margin-left: 5%;
	color: #582C4D;
}

.cadastro form{
	margin-top: 25px;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#Cadastrar{
	align-items: baseline;
	text-align: inherit;
	background-color: #B24F61;
	border-radius: 5px;
	border: 0px;
	color: white;
}

#Cadastrar:hover{
	background: #994352;
	cursor: pointer;
}

.espaco-caixas select{
	margin-right: 10px;
}