.menu-superior{	
	top: 0%;
	bottom: 95%;
    position: fixed;
    border: 1px solid #000000;
	background: #582C4D;
	display: flex;
	padding-bottom: 2px;
}

.menu-superior div{
	align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    margin-bottom: 2px;
}


.menu-superior-form{
	align-items: center;
    display: flex;
    flex-direction: row;
}
	
.botao-pesquisar{
	background: #B24F61;
	border-radius: 0 5% 5% 0; 	
	border-color: transparent;
	cursor: pointer;   
	height: 20px;
	width: 30px; 
}

.botao-pesquisar:hover{
	background: #994352;
	
}

.pesquisar{
	background-color: transparent;
    display: block;
    height: 15px;
    width: 100%;
}

.barra-pesquisa{
	text-rendering: auto;
    margin: 0em;
    font: 400 13.3333px Arial;
	height: 20px;
	width: 300px;
    border-color: transparent;
	box-sizing: border-box;
    outline: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px 0 0 3px;
    position: relative;
}


.barrinha{
	padding-bottom: 12px;
	margin-left: 10px;
	height: 15px;
 	border: 1px solid rgba(255, 255, 255, 0.13);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
	margin-top: 7px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 1px 1px 1px 1px;
    height: 26px;
    width: 106px;
    overflow: hidden;
    
}

.menu-superior-perfil{
	display: block;
}

.menu-superior-perfil a span{
	vertical-align: middle;
	align-items: center;
    display: flex;
    flex-direction: row;
}

.menu-superior-perfil a{
	background: transparent;
	text-decoration:none;
}

.menu-superior-perfil a:hover{
	background: #42223A;
	border-radius: 5%;
	text-decoration: none;
	color: white;
}

.menu-superior-foto-perfil{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 4px;
	padding-left: 1px;
    height: 20px;
    width: 20px;
    padding-bottom: 2px;
    overflow: hidden;
    
    border-radius: 50%;
}

.menu-superior-palavra-perfil{
	position: relative;
	margin-top: 3px; 
	margin-left: 5px;
	padding-right: 10px;
	text-decoration:none;
	display: block;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	color: #FFFFFF;
}

.menu-superior-inicio{
	margin-bottom: 4px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px; 
	margin-left: 10px;
	text-decoration:none;
	display: block;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
}

.menu-superior-espaço-not{
	padding-left: 15px;
}

.menu-superior-not{
	margin-top: 3px;
	padding-right: 4px;
	padding-left: 4px;
    height: 24px;
    padding-bottom: 2px;
    overflow: hidden;
    border-radius: 12%;
    opacity: 0.5;
}

.login input{
	margin-right: 15px;
	text-rendering: auto;
    
    font: 400 13.3333px Arial;
	height: 20px;
	width: 150px;
    border-color: transparent;
	box-sizing: border-box;
    outline: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: relative;
}

.login button{
	height: 20px;
	font-size: 12px;
	line-height: 15px;
	align-items: baseline;
	text-align: inherit;
	background-color: #B24F61;
	border-radius: 5px;
	border: 0px;
	color: white;
}

.login button:hover{
	background: #994352;
	cursor: pointer;
}