.perfil{
	margin-top: 20px;
}

.imagem-perfil{
	width: 100%;
	border-radius: 50%;
	margin-bottom: 20px;
	border: solid white 5px;
	box-shadow:10px 10px 50px grey; 
}

.informacoes-perfil{
	background: white;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 7px;
	margin-bottom: 15px;
	box-shadow:10px 10px 50px grey; 
}

.titulo-informacoes{
	display: flex;
	align-items: center;
}

.titulo-informacoes img{
	height: 20px;
	margin-left: 2.5%;
}

.titulo-informacoes h5{
	margin-left: 10px;
	margin-top: 5px;
	font-size: 16px;
    line-height: 20px;
}

.informacoes-pessoais{
	margin-left: 2.5%;
	margin-right: 2.5%
	display: flex;
	margin-top: 10px;
}

.informacoes-pessoais img{
	height: 15px;
}

.informacoes-pessoais a{
	font-size: 13px;
    line-height: 15px;
    margin-left: 4px;
}

.informacoes-pessoais{
	font-size: 13px;
    line-height: 15px;
}

.ver-mais{
	margin-left: 70%;
	margin-top: 5px;
	font-size: 13px;
    line-height: 15px;
}