#menu ul {
    padding:1px;
    margin:0px;
    background-color:#B90000;
    list-style:none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid white;
}

#menu ul li{
    position: relative;
	margin: 1px;
	display: inline;
	color: #FFFFFF;
}

#menu ul li a{
    color: #FFFFFF;
    text-decoration:none;
    display:inline-block;
    margin-left:2px;
    padding:0 2px;
    line-height:2px
}

#menu a span:hover{
    background-color: #CF4848;
    border-radius: 3px;
    border: 1px solid #CF4848;
}

#menu{
    cursor: pointer;
}

.fonte{
	font-family: tahoma;
	text-align: center;
}